# MORE Basics on Markdown, Python and Statistical Data Types
## *Markdown*
* Links
* '`HighLighting`'

#### *Using HTML*
* Links
* line breaking
* Centering
* etc
## *Input*
* Concat
* Import

## *Data Types*
* A lot of fun..

### Links , Line Breaking and Text Formatting
<br>
 <center> <b> Text in the middle </b> </center> 
 
 <center>
 <u>This is an Underlined Text</u>
 </center>
 <http://www.umich.edu> <br>

[DIU](http://diu.edu.bd/) 

<a href= www.diu.edu.bd>DIU</a>

In [1]:
## Concating

x = 1738
b
print("x and " + str(x))

x and 1738

In [2]:
## Accepting input

name = input("What is your name? ")

print("The name is " + name)

What is your name? Shoaib
The name is Shoaib

### Lets play with DATA TYPES

Theese following data types can be used in python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* ~Complex~
* ~~Object~~
* ~~Set~~
* ~~Dictionary~~

 <i> We are going to discuss the **bolded** ones now. </i> </r>

### 1. Numerical or Quantitative 
### 2. Categorical or Qualitative

####  Numerical or Quantitative
`Quantitative data can be counted, measured, and expressed using numbers`
* Discrete
    * Integer (int) 
* Continuous
    * Float <br> #Allows for decimal places but loses precision.

In [3]:
#importing math library

import math

#### `Integers`

In [4]:
type(4)

int

In [5]:
type(0)

int

In [6]:
type(-1)

int

#### `Floats`

In [10]:
3/5

0.6

In [11]:
7*10**(-1)

0.7000000000000001

In [12]:
print(type(3/5))
type(7*10**(-1))

<class 'float'>

float

In [50]:
# Declaring a list of float
number_list = [1, 2, 5, 3, 4]

print(sum(number_list)) # view sum 

print(len(number_list)) #view total length/ count

15
5

In [52]:
# calculating mean

print(sum(number_list)/len(number_list))

type(sum(number_list)/len(number_list)) 

#In Python 3 returns float, but in Python 2 would return int

3.0

float

In [13]:
print(math.pi)
type(math.pi)

3.141592653589793

float

In [51]:
numbers = [math.pi, 3/5, 6]
type(sum(numbers)/len(numbers))

float

### Categorical or Qualitative
* Nominal
    * data can be classified
    * Boolean (bool)
    * String (str)
    * None (NoneType)
    
    <br>
    
* Ordinal
    * It describes information
    * ordinal level data can be classified and ordered
    * Lists can hold ordinal information because they have indices
    * ex: The colors red, black, black, green, and gray are qualitative data.

**`Boolean`**

In [15]:
type(True)

bool

In [16]:
if 3 < 1:
    print("Yes!")

In [17]:
if 1 < 3:
    print("Yes!")

Yes!

In [18]:
#Data type of a list
myList = [True, 1<3, 1==1, None is None]
for i in myList:
    print(type(i))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

**`String`**

In [19]:
print(type('hello diu data science freaks!'))

type("math.pi")

<class 'str'>

str

#### `None Type`

In [20]:
# None
print(type('none'))
print(type(None))

x = None
type(x)

<class 'str'>
<class 'NoneType'>

NoneType

In [21]:
print(type(none))

NameError: name 'none' is not defined

**`Lists`**

List can hold different types and can also to store ordinal data types.

In [ ]:
myList = [1, 1.0, "This is a sentence", None, True]
for i in myList:
    print(type(i))

In [ ]:
myList = ['third', 'first', 'medium', 'small', 'large']
myList[0]

In [ ]:
myList.sort()
myList

<center> <i>  THANKS  </i> </center>