# Data Visualization (SWE 688)
---
<i>class 4.2 </i>
<br>
---

#### Importing Pandas library

In [11]:
import pandas as pd

#### Reading data files

In [2]:
# url = 'Drive:\Folder\FilesName.csv'
url = 'G:\GDrive\MASTERS\WORKS\DataSets\iris.csv'

# variable = pandas_alias.read_csv(file_link)
data = pd.read_csv(url)

In [3]:
#shape shows num of rows and columns
data.shape

(150, 6)

In [4]:
# view columns of data
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
#view heads and data example
data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
# view data types
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

## Slicing and Indexing
* lOC: label based accessing function
* ilOC: position based accessing function

### loc uses label

In [7]:
#LOC
data.loc[[2,4]] #showing row id 3 (1st column) and 5th row

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   3            4.7           3.2            1.3           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
##Specify column with rows
data.loc[[2,4],['Species','SepalWidthCm']] #showing 3rd and 5th row, species and sepalwidth

       Species  SepalWidthCm
2  Iris-setosa           3.2
4  Iris-setosa           3.6

In [177]:
data.loc[:,'PetalLengthCm':'Species'] #showing PetalLengthCm to Species columns *range all rows

     PetalLengthCm  PetalWidthCm         Species
0              1.4           0.2     Iris-setosa
1              1.4           0.2     Iris-setosa
2              1.3           0.2     Iris-setosa
3              1.5           0.2     Iris-setosa
4              1.4           0.2     Iris-setosa
..             ...           ...             ...
145            5.2           2.3  Iris-virginica
146            5.0           1.9  Iris-virginica
147            5.2           2.0  Iris-virginica
148            5.4           2.3  Iris-virginica
149            5.1           1.8  Iris-virginica

[150 rows x 3 columns]

### iloc uses position

In [164]:
## iloc
data.iloc[0] #gives 1st row

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [173]:
data.iloc[0,2] #gives 1st row 3rd colmns value

3.5

In [174]:
data.iloc[0:2, 1:3] # rows ^th range and column ^th range
# this range does not take last index data

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0

In [188]:
##getting max value

print(data["SepalLengthCm"].max())
print(data.loc[:,"SepalLengthCm"].max())
print(data.SepalLengthCm.max())
print(data.iloc[:,1].max())

7.9
7.9
7.9
7.9

In [189]:
print(type(data)) # The type of the variable
print(type(data.SepalLengthCm)) # The type of one column of the data frame
print(type(data.iloc[1,:])) # The type of one row of the data frame

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### view unique values

In [197]:
# show unique values only
print(data.Species.unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

### group data or column based on value

In [200]:
print(data.groupby(['Species','SepalLengthCm']).size())

Species          SepalLengthCm
Iris-setosa      4.3              1
                 4.4              3
                 4.5              1
                 4.6              4
                 4.7              2
                 4.8              5
                 4.9              4
                 5.0              8
                 5.1              8
                 5.2              3
                 5.3              1
                 5.4              5
                 5.5              2
                 5.7              2
                 5.8              1
Iris-versicolor  4.9              1
                 5.0              2
                 5.1              1
                 5.2              1
                 5.4              1
                 5.5              5
                 5.6              5
                 5.7              5
                 5.8              3
                 5.9              2
                 6.0              4
                 6.1              4
                 6.2              2
                 6.3              3
                 6.4              2
                 6.5              1
                 6.6              2
                 6.7              3
                 6.8              1
                 6.9              1
                 7.0              1
Iris-virginica   4.9              1
                 5.6              1
                 5.7              1
                 5.8              3
                 5.9              1
                 6.0              2
                 6.1              2
                 6.2              2
                 6.3              6
                 6.4              5
                 6.5              4
                 6.7              5
                 6.8              2
                 6.9              3
                 7.1              1
                 7.2              3
                 7.3              1
                 7.4              1
                 7.6              1
                 7.7              4
                 7.9              1
dtype: int64

## MIssing values

In [195]:
print(pd.isnull(data.Species).sum()) ## Shows count of missing {like:  'NA', 'NULL', and 'NaN' }
print(pd.notnull(data.Species).sum()) ## shows not missing values

0
150

## <center> THANKS </center> <br>
<center> Shoaib </center>